$primarycolor: #009efb;
$primarydarkcolor: #870100;
$primarylightcolor: #f67054;
$secondarycolor: #ffffff;
$onprimary: #ffffff;
$onsecondary: #000000;
$statusbarcolor: #005188;
$green: #43a047;
$red: #ef5350;
$yellow: #ffb822;
$tintcolor: #be3f2a;
$tintdarkcolor: #870100;
$icondefault: #ccc;
$iconselected: #be3f2a;
$favoriteiconselected: #ff0015;
$settingicon: #595959;
$lightgreycolor: rgba(0, 0, 0, 0.38);
$textcolor: #626a70;
$splashbackground: #7c29e8;
$primary: #2f95dc;
$textlight: white;
$textprimary: rgba(0,0,0,0.87);
$textsecondary: rgba(0,0,0,0.60);
$texthint: rgba(0,0,0,0.38);
$authcolorerror: yellow;
